beautifulsoup4==4.6.3
certifi==2018.11.29
chardet==3.0.4
cssselect==1.0.3
ddt==1.2.1
Django==1.10.3
django-bootstrap3==11.0.0
et-xmlfile==1.0.1
idna==2.7
jdcal==1.4
lxml==4.3.0
openpyxl==2.6.1
parse==1.9.0
pygame==1.9.4
PyMySQL==0.9.3
pyquery==1.4.0
requests==2.20.1
selenium==3.141.0
suds-jurko==0.6
urllib3==1.24.1
